* {
    background-color: rgb(85, 66, 66);
}
#calculator {
    border: solid #000000;
    width: 320px;
    margin-left: auto;
    margin-right: auto;
}

#display {
    height: 120px;
    background-color: lightslategray;
    font-size: 52px;
    line-height: 120px;
    text-align: end;
    overflow: auto;
}

#rowZero,
#rowOne,
#rowTwo,
#rowThree,
#rowFour {
    display: flex;

}

.number,
.operator,
.equals,
#clear,
.decimal,
#delete {
    height: 80px;
    width: 80px;
    border: solid white;
    text-align: center;
    line-height: 80px;
    font-size: 28px;
}

.equals {
    width: 160px;
}

.number,
.decimal,
#delete {
    background-color: lightgray;
}
.equals {
    background-color: gray;
}
.operator {
    background-color: lightsteelblue;
}

#clear {
    background-color: orange;
}